/*todo  move inline classlist*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 1rem;
  position: relative; /* Ensures relative positioning for inner elements */
  height: 80px;
}

.leftButtons,
.rightButtons {
  display: flex;
  gap: 1rem; /* Space between buttons */
}

.button {
  background-color: #555;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #777;
}

.title {
  font-size: 1.5rem;
  text-align: center;
  flex-grow: 1; /* Allow the title to grow and take up available space */
}

.leftButtons,
.rightButtons {
  flex-shrink: 0; /* Prevent buttons on the sides from shrinking */
}

/* New styles for the ConnectBtn container */
.connectBtnContainer {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 5xl;
  font-family: 'Monospace', 'Courier New', monospace;
  font-size: 0.875rem;
}
