/* You can add global styles to this file, and also import other style files */


.main-video {
    position: absolute;
    width: calc(100vh * 16 / 9);
    height: 100vh;
    left: calc(50vw - (100vh * 16 / 9) / 2);
    top: 0;
    overflow: hidden;
}

@media (min-aspect-ratio: 16/9) {
    .main-video {
        width: 100vw;
        height: calc(100vw * 9 / 16);
        left: 0;
        top: calc(50vh - (100vw * 9 / 16) / 2);
    }
}
